<div style="height: 100%">
  <mat-sidenav-container style="height: 100%;">
    <mat-sidenav style="width: 15%;" #sidenav mode="side" [opened]="isSidenavOpen">
      <h3 style="display: flex; margin:10px 0 10px 15px">Código de ejemplo</h3>
      <mat-nav-list>
        @for (example of exampleCodes; track example.title) {
        <mat-list-item>{{ example.title }}</mat-list-item>
        }
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <button class="controller-container--button" mat-mini-fab aria-label (click)="sidenav.toggle()"
        [matTooltip]="sidenav.opened ? 'Ocultar ejemplos' : 'Mostrar ejemplos'">
        <mat-icon>{{sidenav.opened ? 'chevron_left' : 'chevron_right'}}</mat-icon>
      </button>
      <mat-tab-group style="height: 100%;">
        <mat-tab label="ESP32 COM1">
          <app-controller-code-editor [code]="code"></app-controller-code-editor>
        </mat-tab>
        <mat-tab label="ESP32 COM2">
          <app-controller-code-editor [code]="code"></app-controller-code-editor>
        </mat-tab>
        <mat-tab label="Arduino COM3">
          <app-controller-code-editor [code]="code"></app-controller-code-editor>
        </mat-tab>
      </mat-tab-group>

    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
