.app-controller-container {
  display: flex;
  height: 96%;
}

.app-header {
  color: #ffffff;
  position: sticky;
  background-color: #394A59;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  height: 4%;
}

.app-footer {
  height: 3%;
  justify-content: flex-end;
  background-color: #6acfc7;
}

.app-logo--header {
  height: 40px;
  margin-right: 10px;
  opacity: 1;
}
