<mat-toolbar class="app-header">
  <img src="espressif.svg" alt="Laboratorio remoto" class="app-logo--header">
  Laboratorio Remoto
</mat-toolbar>
<!-- <div class="app-submenu">
  <button mat-button>
    Tutoriales
  </button>
  <button mat-button>
    Programar
  </button>
  <button mat-button>
    Revisar
  </button>
  <button mat-button>
    Corregir
  </button>
</div> -->
<app-controller-container class="app-controller-container"></app-controller-container>
<!-- <mat-toolbar class="app-footer">
  <img src="UPV.png" alt="UPV" class="app-logo--footer">
</mat-toolbar> -->
